accounts/__pycache__/__init__.cpython-312.pyc
accounts/__pycache__/admin.cpython-312.pyc
accounts/__pycache__/apps.cpython-312.pyc
accounts/__pycache__/models.cpython-312.pyc
accounts/__pycache__/urls.cpython-312.pyc
accounts/__pycache__/views.cpython-312.pyc
accounts/migrations/__pycache__/__init__.cpython-312.pyc
django_app/__pycache__/__init__.cpython-312.pyc
django_app/__pycache__/urls.cpython-312.pyc
django_app/__pycache__/views.cpython-312.pyc
django_app/static/django_app/image/user.png
django_project/__pycache__/__init__.cpython-312.pyc
django_project/__pycache__/settings.cpython-312.pyc
django_project/__pycache__/urls.cpython-312.pyc
django_project/__pycache__/wsgi.cpython-312.pyc
django_app/__pycache__/forms.cpython-312.pyc
accounts/__pycache__/forms.cpython-312.pyc
