{% extends "base.html" %}

{% block title %}Homepage{% endblock %}

{% block content %}
<h2>This is our Homepage</h2>
<div class="navigation">
    <ul>
      <!--
        <li><a href="{% url 'stockapp:aboutus' %}">About Us</a></li>
        <li><a href="{% url 'stockapp:stock_search' %}">Search</a></li>
        <li><a href="{% url 'stockapp:members' %}">Team Detail</a></li>
        <li><a href="{% url 'accounts:members' %}">Team Detail</a></li>
        -->
    </ul>
</div>
<div class="stock-images">
  <!--
    <img src="{% static 'stocks.jpg' %}" alt="Image of Stocks">
    -->
</div>
{% endblock %}