{% extends "base.html" %}

{% block title %}Sign Up{% endblock %}

{% block content %}
    <div class="bg-image"></div>
    <div class="signup-container center-screen">
        <h2 class="welcomeHeader">Welcome!</h2>
        <h3 class="titleHeader">Sign Up</h3>
        <form method="post" class="login-form">
            {% csrf_token %}
            {{ form }}
            <a href="{% url 'password_reset' %}" class="forgotPass">Forgot Password?</a>
            <button type="submit" class="btn btn-success btn-block signup-btn">Sign Up</button>

            <div class="modalBottom">
                Already have an Account?
                <a href="{% url 'login' %}">Login</a>
            </div>

        </form>
    </div>


{% endblock %}
{#{% block content %}#}
{#<h2>Sign up</h2>#}
{#<form method="post">#}
{#  {% csrf_token %}#}
{#  {{ form }}#}
{#  <button type="submit">Sign Up</button>#}
{#</form>#}
{#{% endblock %}#}