{% extends 'django_app/base.html' %}
{% load static %}

{% block title %}
    News
{% endblock %}


{% block body_block %}
    <div class="container">
        <h1 class="mt-4">News List</h1>
        <ul class="list-unstyled">
            {% for news_item in news_data.data %}
                <li class="my-4">
                    <h2>{{ news_item.title }}</h2>
                    <p>{{ news_item.description }}</p>
                    <p class="text-muted">{{ news_item.published_at }}</p>
                    <img src="{{ news_item.image_url }}" alt="Image" class="img-fluid">
                    <a href="{{ news_item.url }}" class="btn btn-primary mt-2">Source Page</a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}