{% extends 'django_app/base.html' %}

{% block title %}
Car Site
{% endblock title %}

{% block body_block %}
    <div class="container-fluid position-relative d-flex p-0">
            
                            <div class="d-flex align-items-center justify-content-between mb-3">
                                <a href="../" class="">
                                    <h3 class="text-primary"><i class="fa fa-user-edit me-2"></i>Stock Market Predictor</h3>
                                </a>
                            </div>
                            
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="tickerinp" placeholder="Ticker Name" name="ticker" autocomplete="on" required>
                                <label for="tickerinp">Ticker Name</label>
                            </div>
                            <div class="form-floating mb-4">
                                <input type="text" class="form-control" id="days" placeholder="Number of days" name="days" autocomplete="on" required>
                                <label for="days">Number of Days</label>
                            </div>
                            <div class="d-flex align-items-center justify-content-between mb-4">
                                <a href="../ticker">Search Ticker Value</a>
                            </div>
                            <button type="submit" class="btn btn-primary py-3 w-100 mb-4" onclick="LoadURL()">Predict</button>
                            <script type="text/javascript">
                                function LoadURL() {
                                    var ticker = document.getElementById("tickerinp").value;
                                    var days = document.getElementById("days").value;
                                    var server = window.location.origin;
                                    var path = "/predict/" + ticker + "/" + days;
                                    var url = server + path;
                                    window.location.href = url;
                                }
                            </script>


            <!-- Widgets End -->

    </div>
            <!-- Footer Start -->
            
            <!-- Footer End -->
{% endblock %}
