{% extends 'django_app/base.html' %}
{% block title %}
    Stock Info
{% endblock %}
{% block body_block %}
     <div class="container-fluid pt-4 px-4">
                <div class="bg-secondary text-center rounded p-4">
                    <div class="d-flex align-items-center justify-content-between mb-4">
                    <h6 class="mb-0">All Stocks</h6>
                    <form class="d-flex" action="{% url 'django_app:stockInfo' %}" method="get">
                        {{ form.q }}
                        <button class="show-all-button" type="submit">Search</button>
                    </form>
                </div>

                    <div class="table-responsive">
                        <table class="table text-start align-middle table-bordered table-hover mb-0">
                            <thead>
                                <tr class="text-white">
                                    <th scope="col">Stock Symbol</th>
                                    <th scope="col">Stock Name</th>
                                    <th scope="col">Add To Favourites</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if no_results %}
                                   <p>No results found.</p>
                                {% else %}
                                    {% if ticker_list %}
                                        {% for i in ticker_list %}
                                            <tr>
                                                <td>{{ i.Symbol }}</td>
                                                <td>{{ i.Name }}</td>
                                                 <td>
                                                    {% if i.favourite %}
                                                        <a href="{% url 'django_app:remove_from_favourites' i.id %}" data-stock-id="{{ i.id }}" class="btn btn-primary remove-from-favourites">Remove</a>
                                                    {% else %}
                                                        <a href="#" data-stock-id="{{ i.id }}" class="btn btn-success add-to-favourites">Add to Favourites</a>
                                                    {% endif %}
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    {% endif %}
                                {% endif %}
                            </tbody>
                        </table>
                    </div>

                  <!-- Pagination Links -->
                    {#code provided by JIYU#}
                    <div class="pagination">
                        <span class="step-links">
                            {% if ticker_list.has_previous %}
                                <a href="?page=1">&laquo;&laquo; First </a>
                                <a href="?page={{ ticker_list.previous_page_number }}">Previous</a>
                            {% endif %}

                            <span class="current">
                                Page {{ ticker_list.number }} of {{ ticker_list.paginator.num_pages }}.
                            </span>

                            {% if ticker_list.has_next %}
                                <a href="?page={{ ticker_list.next_page_number }}">Next</a>
                                <a href="?page={{ ticker_list.paginator.num_pages }}">Last &raquo;&raquo;</a>
                            {% endif %}
                        </span>
                    </div>

                </div>

            </div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
$(document).ready(function(){
  $(document).on('click', '.add-to-favourites', function(e){
    e.preventDefault();
    var button = $(this);
    var stock_id = button.data('stock-id');
    $.ajax({
      url: '/add_to_favourites/' + stock_id + '/',
      success: function(response) {
        button.text('Remove');
        button.removeClass('btn-success add-to-favourites');
        button.addClass('btn-primary remove-from-favourites');
      }
    });
  });

  $(document).on('click', '.remove-from-favourites', function(e){
    e.preventDefault();
    var button = $(this);
    var stock_id = button.data('stock-id');
    $.ajax({
      url: '/remove_from_favourites/' + stock_id + '/',
      success: function(response) {
        button.text('Add to Favourites');
        button.removeClass('btn-primary remove-from-favourites');
        button.addClass('btn-success add-to-favourites');
      }
    });
  });
});
</script>


{% endblock %}