{% extends 'django_app/base.html' %}
{% block body_block %}
     <div class="container-fluid pt-4 px-4">
                <div class="bg-secondary text-center rounded p-4">
                    <div class="d-flex align-items-center justify-content-between mb-4">
                    <h6 class="mb-0">All Tickers</h6>
                    <form class="d-flex" action="{% url 'django_app:stockInfo' %}" method="get">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="q">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                    <a href="https://finance.yahoo.com/trending-tickers" class="show-all-button" target="_blank">Show All</a>
                </div>

                    <div class="table-responsive">
                        <table class="table text-start align-middle table-bordered table-hover mb-0">
                            <thead>
                                <tr class="text-white">
                                    <th scope="col">Ticker Symbol</th>
                                    <th scope="col">Ticker Name</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if ticker_list %}
                                {% for i in ticker_list %}
                                <tr>
                                    <td>{{i.Symbol}}</td>
                                    <td>{{i.Name}}</td>
                                </tr>
                                {% endfor %}
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
{% endblock %}